/* Vars:
  ========================================================================== */

// Font
$mainFont                : 'Montserrat', sans-serif;

// Size
$mainFontColor           : #252525;
$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 140%;

$desktopWidth            : 1400px;
$smDesktopWidth          : 1200px;
$lgTableWidth            : 992px;
$tableWidth              : 768px;
$lgPhoneWidth            : 576px;
$phoneWidth              : 480px;
$smPhoneWidth            : 375px;

// Main color
$bgColor                 : #FFFFFF;
$defaultColor            : #FFFFFF;
$primaryColor            : #F8C665;

//Border

$defaultBorder            : 1px solid rgba(0, 0, 0, 0.1);
$primaryBorder            : 2px solid #F8C665;

//Shadow
$boxShadow               : 0px 0px 4px rgba(0, 0, 0, 0.25);