header.header
  .container
    a.header__logo(href='https://nftcraft.game/' target="_blank")
      img(src='.././img/header/logo.png' alt='Logo NFT Craft')

    .lang
      span.ru Russian
      ul
        li
          a.en(href='/en/') English
    nav.header__nav
      ul
        li
          a(href='https://nftcraft.game' target="_blank") NFTcraft
        li
          a(href='https://unity.nftcraft.game' target="_blank") Unity	
        li
          a(href='https://mine.nftcraft.game' target="_blank") MetaCraft
        li.beta
          a(href='https://invest.nftcraft.game' target="_blank") Invest
            i
            i
            i
            i
      .lang
        span.ru Russian
        ul
          li
            a.en(href='/en/') English
    input#checkbox.mobile-menu__checkbox(type='checkbox')
    label.mobile-menu__btn(for='checkbox')
      span.mobile-menu__icon
    //- a.beta__mobile(href='https://app.nftcraft.game' onclick="ym(86035474,'reachGoal','RUN_DEMO_EN')") Demo
