header.header
  .container 
    .header-top 
      .header-logo 
        img(src="./img/svg/logo.svg", alt="Видеоинстал")
        .text 
          strong.name ВидеоИнстал
          span.descr Монтаж видеонаблюдения в Москве и области
      .header-messages
        .text 
          strong Мы онлайн
          span Задайте вопрос
        .links 
          a(href="")
            img(src="./img/svg/whatsapp.svg", alt="Whatsapp")
          a(href="")
            img(src="./img/svg/telegram.svg", alt="Telegram")
      button.header-btn.com-btn__border.calc-btn
        span Рассчитать стоимость
      .header-contacts 
        .time Ежедневно с 9:00 до 21:00
        a(href="tel:89265385874").tel +7 (926) 538-58-74
        .application.popup-btn Заказать обратный звонок
      ul.header-links.mobile
        li
          a(href="")
            img(src="./img/svg/whatsapp.svg", alt="")
        li
          a(href="")
            img(src="./img/svg/telegram.svg", alt="")
        li
          a(href="")
            img(src="./img/svg/phone.svg", alt="")
      .header-burger.mobile
        span 
        span 
        span
    nav.header-menu
      button.header-btn.com-btn__border.calc-btn
          span Рассчитать стоимость
      ul.header-list
        li
          a(href="/") Главная
        li
          a(href="#sets") Комплекты
        li
          a(href="#portfolio") Наши работы
        li
          a(href="#solutions") Решения
        li
          a(href="#calc") Калькулятор
        li
          a(href="#price") Стоимость
        li
          a(href="#contact") Контакты
      .wrap 
        .header-contacts 
          .time Ежедневно с 9:00 до 21:00
          a(href="tel:89265385874").tel +7 (926) 538-58-74
          .application.popup-btn Заказать обратный звонок
        .header-messages
          .text 
            strong Мы онлайн
            span Задайте вопрос
          .links 
            a(href="")
              img(src="./img/svg/whatsapp.svg", alt="Whatsapp")
            a(href="")
              img(src="./img/svg/telegram.svg", alt="Telegram")
        