section.partners#partners 
    .container 
        -let partnersArr = ['polygon', 'uh', 'binance', 'venus', 'defirex', 'envelop', 'certic', 'w3gcapital', 'digitalAssets', 'xxv', 'df']
        .list
            each val, index in partnersArr
                img(src='./img/partners/partner-'+(index+1)+'.png',  val)
                //- +image('partners/partner-'+(index+1),  val)