section.platform#platform    
    .container         
        .slide.green
            .name(data-lang="platform-label-1") Превратите вашу игру в суперхит
            .title(data-lang="platform-title-1") ПЛАТФОРМА ПО УВЕЛИЧЕНИЮ ДОХОДНОСТИ PC ИГР
            p.descr(data-lang="platform-descr-1") Выигрывай токены сUSD или долю от общего призового пула <br> Принимай участие в строительстве архитектурных известных сооружений, получай вознаграждение и становись их совладельцем <br> Участвуй и побеждай в регулярных  турнирах с призовым пулом от 100 до 300 USDT  
            a(href="https://mine.nftcraft.game" data-lang="platform-button-1").btn ИгРАть
            img(src="./img/platform/slide-1.png", alt="")
        .slide.blue 
            .name(data-lang="platform-label-2") Играй! Добывай! Инвестируй!
            .title(data-lang="platform-title-2") МАЙНИНГ В 2D МИРЕ ДВАРФОВ
            p.descr(data-lang="platform-descr-2") Играй в 2D мире дварфов и зарабатывай на майнинге токена cUSD/RAD <br> Минимум времени в игре, максимум доходности <br> Зарабатывай, пока всю грязную работу по майнингу токенов делают твои мускулистые дварфы
            a(href="https://tweb.nftcraft.game" data-lang="platform-button-2").btn ИгРАть
            img(src="./img/platform/slide-2.png", alt="")
        .slide.purple
            .name(data-lang="platform-label-3") Unity
            .title(data-lang="platform-title-3") ПРОТОТИП НА UNITY
            p.descr(data-lang="platform-descr-3") Зарабатывай быстро и просто! <br> <br> Собственный мир MINECRAFT на 3D движке Unity доступный прямо из браузера
            a(href="https://unity.nftcraft.game" data-lang="platform-button-3").btn ИгРАть
            img(src="./img/platform/slide-3.png", alt="")
        .slide.orange
            .name(data-lang="platform-label-4") Превратите вашу игру в суперхит
            .title(data-lang="platform-title-4") ПЛАТФОРМА ПО УВЕЛИЧЕНИЮ ДОХОДНОСТИ PC ИГР
            p.descr(data-lang="platform-descr-4") Решения NFTCRAFT Monetization сделают вашу игру эффективным источником дохода за счет совмещения игровых миров с блокчейном, технологиями масштабирования серверов и проверенной экономической моделью.
            a(href="mailto:invest.nftcraft.game" data-lang="platform-button-4").btn ПРЕДЛОЖЕНИЕ
            img(src="./img/platform/slide-4.png", alt="")

                
                     