section.free 
    .container 
        .content
            span.action ПЕРВЫЙ ШАГ БЕСПЛАТНО
            h2.title ИГРАЙ И ПОЛУЧИ В <b>ПОДАРОК</b> ЦЕННОГО NFT ДВАРФА
            p Выполни все задания квеста и получи уникального ценного NFT дварфа, полностью обеспеченного ETH.
            p Полученным дварфом ты можешь играть в DEMO в любой вселенной NFTcraft
            .buttons 
                a.btn.primary(href="") 
                a.btn.grey(href="") 
        .img 