.partners {
    padding-bottom: 124px;
    max-width: $desktopWidth;
    margin: 0 auto;
}
.list{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    img{
        min-width: rem(300);
    }
}