section.main 
    .bg-main 
            img(src="./img/main/bg-main.png", alt="")
    .bg-3d
        img(src="./img/main/bg-3d.png", alt="")
    .container
        .crystal-2d 
            img(src="./img/main/crystal-2d.png", alt="")
        .dwarf-2d 
            img(src="./img/main/dwarf-2d.png", alt="")
        .crystal-3d 
            img(src="./img/main/crystal-3d.png", alt="")
        .dwarf-3d 
            img(src="./img/main/dwarf-3d.png", alt="")  
        .logo 
            img(src="./img/main/logo.png", alt="")
        .label(data-lang="main-label") 
        .title(data-lang="main-title") 
        a(href="#platform" data-lang="main-btn-1").btn.blue
        a(data-lang="main-btn-2").btn.tg 
            img(src="./img/main/tg.svg", alt="")