extends ../../../layouts/airdrop

block variables
 - const title = "NFTCraft - airdrop Venus";

block content
 include ../../../../blocks/modules/header/header
 include ../../../../blocks/modules/airdrop/airdrop

block scripts
 script(src="../../js/main.js")