doctype html
html(lang='en')
    include pug/head
    body
        include pug/section/header
        main 
            include pug/section/main
            include pug/section/universe
            include pug/section/game-list
            include pug/section/showcase
            include pug/section/free
            include pug/section/achievements
            include pug/section/offer
            include pug/section/partners
        include pug/section/footer
